dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.code-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
sonic-web-ref-app/test/allure-results/
sonic-web-ref-app/test/test-videos/
browserstack.err

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# dependencies
/node_modules